$white-colour: #fafafa;
$dark-white-colour: #f5f1f1;
$black-colour: #303030;

$green-colour: #41b3a3;
$green-btn-home: #50e7d3;
$blue-green-colour: #2a786e;

$peach-colour: #e8a87c;
$dark-peach-colour: #eb9b65;
$orange-colour: #CC7F87;

$dark-purple-colour: #332242;
$light-purple-colour: #503f5f;